body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("./img/greenfelt.jpg");
    background-size: cover;
    text-align:center;
    color:white;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

#mssg-el {
    color: white;
    font-weight: bold;
    font-style: italic;
}

#begin-el {
    color: #016f32;
    color: black;
    width: 150px;
    padding: 5px 30px 5px 30px;
    background: goldenrod;
    font-weight: bold;
    border:none;
   border-radius: 2px;
   margin-bottom: 2px;
    margin-top: 2px;
}

#new-card-el {
    margin: 2px 0 2px 0;
    color: #016f32;
    color: black;
    width: 150px;
    padding: 5px 30px 5px 30px;
    background: goldenrod;
    font-weight: bold;
    border:none;
   border-radius: 2px;
}